*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:#fcc;
    padding:2% 5% 0 5%;
}
.big-cont{
    padding:2%;
    display:flex;
    justify-content:center;
}
.big-cont .small{
    height:65vh;
    position:relative;
    transform-style:preserve-3d;
    width:99%;
    transition:1.5s;
}
.small .face{
    position:absolute;
    height:100%;
    width:100%;
    backface-visibility: hidden;
    transform-style:preserve-3d;
}
.small .back{
    height:100%;
    width:100%;
    background:rgba(0, 255, 221, 0.984);
    transform:rotateY(180deg);
    border-radius:20px;
    padding:3%;
}
.back .input-field{
    margin-top:2%;
}
.input-field input{
    height:5vh;
    width:58%;
    border-radius:10px;
    padding:7px;
    outline:none;
    font-size:1.05rem;
    background:rgba(128, 128, 128, 0.165);
    box-shadow: 1px 2px 2px grey;;
    border:none;
    font-weight:700;
    border-bottom: 2px solid grey;
}
 .text{
    height:23vh;
    margin:1.5% 0;
}
.text textarea{
    background:rgba(3, 218, 96, 0.296);
    border:2px solid #fff;
    height:100%;
    outline:none;
    width:100%;
    border-radius:17px;
    padding:12px;
    font-size:1.05rem;
}
.btn2{
    display:flex;
    justify-content:right;
    padding-right:3%;
    height:5vh;
}
.btn2 button{
    width:22%;
    font-size:1.23rem;
    color:#fff;
    font-weight:800;
    border-radius:10px;
    background:seagreen
}
.btn2 button:hover{
    background:lightskyblue;
    color:#000;
    outline-style:double;
    outline-color:rgb(255, 255, 255);
}
.back .others{
    font-size:1.2rem;
    margin-top:10%;
    margin-left:10%;
}
.call{
    display:flex;
    align-items:center;
}
.call h3{
    font-size:1.4rem;
}
.call i{
    font-size:2rem;
    color:#fff;
}
.small .front{
    background:green;
    border-radius: 20px;;
    display: flex;
    justify-content:center;
    align-items:center;
}
.front .image-cont{
    height:92%;
    width:85%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.front .image-cont .image{
    height:100%;
    width:100%;
    padding:2px;
}
.name{
    position:absolute;
    height:100%;
    width:100%;
    border-radius:20px;
    display:flex;
    color:rgba(81, 255, 0, 0.767);
    align-items:last baseline;
    justify-content:center;
    font-size:1.5rem;
    background:rgba(18, 163, 211, 0.39);
}
img{
    height:100%;
    width:100%;
}
.btn{
    margin:2% 3% 5%;
}
.btn button{
    height:4.5vh;
    background:lightblue;
    width:20%;
    font-size:1.2rem;
    border-radius:10px;
}
footer{
    text-align:center;
    font-size:1.3rem;
}
@media(max-width:720px){
    body{
        background-image:url('contact.jpg');
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment: fixed;
    }
    .big-cont .small{
        height:75vh;
    }
    .small .front{
        background: lightblue;
    }
    .front .image-cont{
        height:88%;
        width:95%;
    }
    .front .image-cont .image{
        background:lime;
        padding:3px;
    }
    .btn button{
        width:90px;
        font-size:.99rem;
        transition:400ms;
    }
    .btn button:hover{
        cursor:pointer;
        background:rgb(155, 155, 9);
        outline-style: double;
        outline-color:#fff;
    }
    .back .input-field{
        height:3.7vh;
        margin-bottom:6%;
    }
    .back .input-field input{
        font-size:1.1rem;
        width:80%;
        background:rgba(0, 153, 255, 0.394);
    }
    .back .input-field input::placeholder{
        color:grey;
        font-size:.98rem;
    }
 .text textarea{
        font-size:1rem;
        background:rgba(7, 141, 186, 0.296);
    }
   .text textarea::placeholder{
        font-size:.88rem;
    }
   .btn2 button{
        font-size:.99rem;
        font-weight:560;
        color:white;
        width:25%;
        background:rgb(103, 103, 203);
    }
    .back .others{
        margin-left:1%;
        font-size:1.03rem;
    }
    .call h3{
        font-size:1.2rem;
    }
    .call i{
        font-size:1.5rem;
        color:rgb(255, 255, 255);
    }
    footer{
        font-size:1.1rem;
        color:white;
    }
}
@media(min-width:700px){
    body{
        background:seagreen;
        padding-top:1.5%;
    }
    .big-cont{
        border:none;
    }
    .big-cont .small{
        height:500px;
        width:500px;
    }
    .btn{
        height:4vh;
        margin-left:25%;
        margin-top:-1%;
    }
    .btn button{
        width:120px;
    }
    .back .others{
        margin-top:-4px;
    }
    footer{
        margin-top:-.1%;
    }
}