*{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    body{
        background:#fff;
        color:#000;
        transition:500ms ease-out;
    }
    body.dark-mode{
        background:#000;
        color:#fff;
    }
    header{
        border:none;
        display:flex;
        justify-content:space-between;
        padding:2%;
        padding-left:1%;
        align-items:center;
        height:7vh;
        border-radius:15px;
        border-bottom:3px solid grey;
    }
    header h2{
        font-size:1.11rem;
    }
    header ul{
        display:flex;
        margin-right:4%;
        font-weight:800;
    }
    header ul li{
        list-style:none;
        font-size:.999rem;
        margin-left:20px;
        font-weight:700;
        transition:500ms;
        cursor:pointer;
    }
    header ul li a,#han{
        text-decoration:none;
        color:rgb(57, 193, 239);
    }
    header ul li a:hover,header #han:hover,header ul li:nth-child(1){
        color:blueviolet;
    }
    .drop{
        position:absolute;
        margin-left:-7.6%;
        margin-top:2px;
        background:#fff;
        display:none;
        padding:3px 10px 5px 10px;
        border-radius:6px;
    }
    .drop li{
        margin-bottom:10px;
        margin-left:-3%;
        display:flex;
        border-radius:7px;
        padding:3px;
        background:rgba(235, 147, 16, 0.732);
        align-items:center;
        justify-content:center;
        transition:500ms;
    }
    .drop li:hover{
        background:#000;
    }
    .drop li a:hover{
        color:#fff;
    }
    .drop li a{
        color:#fff;
        transition:500ms;
    }
    #han:hover .drop{
        display:block;
    }
    main{
        padding-left:1.5%;
        padding-top:2%;
    }
    main button{
        padding:4px;
        border-radius:5px;
        font-weight:700;
        background:lightblue;
        transition:.2s;
        color:green;
        border:2px solid green;
        margin:2%;
    }
    main button:hover{
        outline-style:double;
        outline-color:red;
    }
    main .Info{
        display:flex;
        justify-content:center;
    }
    main .Info .info{
        box-shadow:2px 2px 2px rgb(174, 174, 174);
        border:1px solid rgb(236, 236, 236);
        border-radius:7px;
        padding:3px;
        margin:1.2%;
    }
    main .info h2:nth-child(3){
        color: blue;
        font-size:1.3rem;
        margin-top:-4px;
    }
    .n{
        font-weight:800;
        font-size:1.1rem;
        margin-bottom:1%;
    }
    main p{
        font-size:1.1rem;
    }
    .image-cont{
        display:flex;
        justify-content:center;
        margin-top:2.2%;
    }
    .image{
        height:400px;
        width:320px;
        overflow:hidden;
        border:2px solid lime;
        border-radius:10% 10% 70% 70%;
        display:flex;
        align-items: center;
        justify-content:center;
    }
    img{
        height:550px;
        width:400px;
    }
    .las{
        margin-top:10px;
    }
    .las .link{
        height:40px;
        display:flex;
    }
    .link a{
        text-decoration:none;
        display:flex;
        justify-content:center;
        align-items:center;
        color:#000;
        margin-left:3%;
        font-size:1.2rem;
        width:120px;
        background:lime;
        padding:5px;
        border-radius:6px;
        transition:600ms;
    }
    .link a:hover,.links a:hover{
        box-shadow:0px 0px 14px lime;
    }
    .links{
        margin-top:2.2%;
        padding:4px;
    }
    .links a{
        margin-left:20px;
        color:#fff;
        background:lime;
        border-radius:50%;
        padding:3px;
        transition:400ms;
        font-size:1.6rem;
    }
    
    footer{
        font-size:1.15rem;
        justify-content:center;
        display:flex;
        margin-top:10px;
    }
    footer p{
        margin-right:10px;
    }
    @media(max-width:720px){
        
        header{
            height:9vh;
            box-shadow:2px 2px 2px grey;
        }
        header h2{
            font-size:1.4rem;
            font-weight:700;
        }
        header ul{
            margin-right:14%;
        }
        header ul li{
            font-size:1.25rem;
            margin-right:8%;
        }
        header ul li a{
            font-size:1.25rem;
            font-weight:800;
        }
        .Info{
            display:flex;
        }
        main p{
            font-size:1.2rem;
        }
        .n{
            font-weight:900;
        }
        .image{
            height:500px;
            width:400px;
        }
        img{
            height:620px;
            width:500px;
        }
        footer{
            font-size:1.23rem;
        }
        .drop{
            border-radius:7px;
            margin-top:-2px;
            margin-left:-5.5%;
            padding:7px 5px;
            box-shadow:3px 3px  rgb(203, 191, 191);
        }
        .drop li{
            margin-bottom:14px;
            padding:7px;
        }
        .drop li:nth-child(3){
            margin-bottom:0;
        }
        .drop li a{
            color:green;
            font-size:1.3rem;
        }
        main{
            padding:1%;
            padding-left:0;
        }
        main .info{
            width:95%;
        }
        .las{
            margin-top:2%;
        }
        footer{
            font-size:1.42rem;
            margin-bottom:2%;
        }
    }
    @media(min-width:700px){
        header{
            height:10vh;
        }
        header h2{
            font-size:1.7rem;
        }
        header ul{
            margin-right:17%;
        }
        header ul li{
            margin-right:10%;
        }
        header ul li{
            font-size:1.3rem;
        }
        main{
            padding:0 10% ;
        }
        main button{
            margin-top:7px;
            height:4.5vh;
            font-size:1rem;
        }
        .drop{
            margin-top:0;
            margin-left:-4%;
            padding-left:15px;
        }
        .drop li{
            padding:5px 20px;
            background:lightblue;
            margin-left:-2%;
        }
        .drop li a{
            font-size:1.4rem;
        }
        .links,.link{
            margin-left:13%;
        }
        .links a{
            font-size:2rem;
        }
    }
    @media(min-width:1000px){
        
        header ul{
            margin-right:10.9%;
        }
        .Info{
            display:flex;
            justify-content:center;
        }
        .info{
            width:800px;
        }
        .drop{
            margin-top:0;
            width:120px;
        }
    }