*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:lightblue;
    padding-top:4%;
    display:flex;
    justify-content:center;
}
.login1-container{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    width:375px;
    border:2px solid grey;
    box-shadow:2px 2px 1px grey;
    transition:500ms;
}
.login1-container:hover{
    animation:glow 1500ms linear infinite;
}
@keyframes glow{
    0%{
        box-shadow:0px 0px 0px grey;
    }
    25%{
        box-shadow:0px 0px 15px red
    }
    50%{
        box-shadow:0px 0px 15px blue;
    }
    75%{
        box-shadow:0px 0px 15px green;
    }
    100%{
        box-shadow:0px 0px 0px grey;
    }
}
.login1-container .container{
    width:100%;
    height:100%;
}
.login1-container .container form h2{
    text-align:center;
    margin-top:.5%;
    text-transform:uppercase;
    font-weight:900;
}
 form  .nm{
    color:transparent;
    background:linear-gradient(to left,red,blue);
    background-position-x:400px;
    background-clip:text;
    margin-bottom:-2.5%;
    animation:move 2s linear infinite;
}
@keyframes move{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:400px;
    }
}
form .image-container{
    height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:.3%;
}
.login1-container .container form .image-container .image{
    width:350px;
    height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    position:relative;
    padding:2px;
}
 .image img{
    height:100%;
    width:100%;
}
 .image-container .image::after{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    border-radius:inherit;
    background:conic-gradient(red,green);
    z-index:-1;
    animation:spin 2s linear infinite;
}
@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}
.image-container .image img{
    width:100%;
    height:100%;
    border-radius:inherit;
}
 form .input-field{
    margin:2% 3%;
    height:4.6vh;
    position:relative;
    border-radius:10px;
}
form .input-field input{
    width:100%;
    height:100%;
    outline:none;
    border:none;
    border-radius:inherit;
    border:2px solid rgb(70, 132, 152);;
    background:rgb(113, 213, 246);
    padding:15px;
    font-size:1.3rem;
}
input::placeholder{
    font-size:1.1rem;
}
.input-field input:focus{
    border:2px solid rgb(112, 112, 112);
    background:rgba(129, 104, 152, 0.496);
}
.input-field span{
    font-size:1.1rem;
    color:rgb(255, 0, 0);
    font-weight:500;
}
 form .input-field i{
    position:absolute;
    right:5px;
    bottom:7px;
    font-size:1.4rem;
}
.input-field .fa-envelope{
    font-size:1.6rem;
    color:#fff;
}
 form .btn{
    display:flex;
    justify-content:center;
    height:4vh;
    margin-top:-.4%;
    margin-bottom:.4%;
}
.btn button{
    width:30%;
    border-radius:10px;
    border:2px solid green;
    font-size:1.2rem;
    font-weight:700;
    height:100%;
    background:rgb(162, 11, 11);
    transition:400ms;
}
.btn button:hover{
    background:blue;
    color:#fff;
    border:1px double #8e8e8e;
    transform:scale(1.08);
    outline: 2px;
    cursor: pointer;
}
form .p1{
    font-size:1.2rem;
    color:#fff;
    margin:0 3%;
    display:flex;
    justify-content: space-between;
}
form .p1 a{
    color:green;
    text-decoration:none;
    font-weight:700;
}
.container form footer{
    text-align:center;
    color:#fff;
    margin:2%;
    font-size:1.3rem; 
    font-weight:bold;
}
@media(min-width:1024px){
    body{
        background:rgb(70, 204, 128);
        padding:1.4% 33% 0% 33%;
    }
    .login1-container{
        background:lightgreen;
    }
@keyframes glow{
    0%{
        box-shadow:0px 0px 0px grey;
    }
    25%{
        box-shadow:0px 0px 10px red;
    }
    50%{
        box-shadow:0px 0px 10px white;
    }
    75%{
        box-shadow:0px 0px 10px yellow;
    }
    100%{
        box-shadow:0px 0px 0px grey;
    }
}
}
@media(max-width:600px){
    body{
        background-image:url('loginbg.jpg');
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        background-attachment:fixed;
    }
    .image-container .image::after{
        animation:none;
        background:lime;
        box-shadow:0px 0px 10px lime;
    }
    form h2{
        color:hotpink;
        margin:2% 0;
    }
    form .input-field i{
        font-size:1.3rem;
    }
    .login1-container:hover{
        animation:none;
    }
    .login1-container{
        box-shadow:none;
        outline-style: double;
        outline-color:#fff;
        backdrop-filter: blur(3px);
    }
    form .btn{
        height:40px;
    }
    .btn button:hover{
        outline-style:double;
        outline-width:5px;
        outline-color: #fff;
        transform: scale(.9);
    }
    form .input-field{
        height:5vh;
    }
    form .nm{
        margin:2%;
    }
    form .p1{
        color:#000;
        font-size:1.3rem;
    }
    footer p{
        color:#000;
    }
}