*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    padding-top:8%;
    background:orange;
}
.logn-cont{
    border:2px solid rgb(178, 19, 170);
    padding:4% 2% 0;
    border-radius:12px;
    background:rgb(255, 178, 34);
    width:70vw;
    height:60vh;
}
.logn-cont:hover{
    animation:glow 2s linear infinite;
}
@keyframes glow{
    0%{
        border:purple;
        box-shadow:2px 2px 2px purple,
        -2px 2px 2px purple,
        2px -2px 2px purple;
    }
    50%{
        border:white;
        box-shadow:2px 2px 2px white,
        -2px 2px 2px white,
        2px -2px 2px white;
    }
    100%{
        border:purple;
        box-shadow:2px 2px 2px purple,
        -2px 2px 2px purple,
        2px -2px 2px purple,
        -2px -2px 2px purple;
    }
}
.logn-cont form h2{
    text-align:center;
    margin-top:1%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    margin-bottom:120;
}
.logn-cont form .input-field{
    width:98%;
    height:4.5vh;
    margin:4.1% 0%;
    border-radius:9px;
}
.logn-cont form .input-field input{
    height:100%;
    width:100%;
    outline: none;
    border: none;
    border-radius:inherit;
    background:rgba(244, 168, 26, 0.897);
    border-bottom: 2px solid rgb(109, 91, 91);
    box-shadow: 1.5px 1.5px 1px grey;
    padding:10px;
    font-size:1rem;
}
    .logn-cont form .input-field input:focus{
        border-color:red;
        box-shadow:1.5px 1.5px 1px red;
    }
.logn-cont form .input-field input::placeholder{
    color:whitesmoke;
    font-size:.9rem;
}
.logn-cont form .input-field span{
    color:red;
    font-weight:800;
}
.logn-cont form .btn{
    display: flex;
    justify-content:center;
    height:5vh;
    margin-bottom:2%;
}
.logn-cont form .btn button{
    width:100px;
    border-radius:12px;
    background:lightgreen;
    border:2px solid green;
    font-weight:700;
    font-size:1.2rem;
    transition:500ms;
}
.logn-cont form .btn button:hover{
    background:rgb(234, 87, 64);
    transform:scale(1.1);
    cursor:pointer
}
.logn-cont form .nm{
    display:flex;
    width:90%;
    justify-content:space-between;
    font-size:1.1rem;
    margin:3% 0;
}
.logn-cont form .nm a{
    text-decoration:none;
    color:yellow;
    font-weight:700;
}
footer{
    text-align:center;
    margin-top:15%;
    padding-bottom:3%;
    font-size:1.1rem;
}
@media(min-width:415px){
    body{
        display:flex;
        justify-content:center;
        padding:0;
        background:orangered;
        padding-top:8%;
    }
    .logn-cont{
        width:450px;
        height:450px;
        background:#fff;
        border-radius:50%;
        background:orange;
        padding:40px;
    }
    .logn-cont form h2{
        font-family:Arial, Helvetica, sans-serif;
        color:red;
        margin-top:4%;
    }
    .logn-cont form .input-field{
        margin-left:30px;
    }
    .logn-cont form .input-field input{
        background:rgb(235, 229, 229);
        width:300px;
    }
    .logn-cont form .input-field input::placeholder{
        color:green;
    }

    footer{
        margin-top:-2%;
    }
    .logn-cont form .nm a{
        color:blue;
    }
}